---
// Server Only
import MainLayout from '../layouts/MainLayout.astro';

const name = 'Principal page';
const title = 'Home page'


---
	<MainLayout title="About Page">
		<h1>About Astro</h1>
		<h3>{ name }</h3>
		<p>Momento actual:{new Date().toLocaleTimeString()}</p>
	</MainLayout>